HYTALE_DOWNLOADER_CLI=/opt/hytale/cli/hytale-downloader
JAVA_XMS=4G
JAVA_XMX=4G
JAVA_OPTS=
ENABLE_AOT_CACHE=true
DISABLE_SENTRY=false

HYTALE_SERVER_SESSION_TOKEN=
HYTALE_SERVER_IDENTITY_TOKEN=
HYTALE_OWNER_UUID=
HYTALE_OWNER_NAME=

SERVER_NAME="Hytale Server"
SERVER_MOTD=
SERVER_PASSWORD=
BIND_ADDRESS=0.0.0.0
SERVER_PORT=5520
AUTH_MODE=authenticated
HYTALE_PATCHLINE=release
ALLOW_OP=false
MAX_PLAYERS=100
MAX_VIEW_RADIUS=32
DEFAULT_WORLD=default
DEFAULT_GAME_MODE=Adventure
PLAYER_STORAGE_TYPE=Hytale
DISPLAY_TMP_TAGS_IN_STRINGS=false

ENABLE_BACKUPS=false
BACKUP_DIR=/data/backups
BACKUP_FREQUENCY=30
BACKUP_MAX_COUNT=5

ACCEPT_EARLY_PLUGINS=false
SERVER_LOG_LEVEL=
AUTO_REFRESH_TOKENS=true